
  Generate images of code and terminal output. 📸
       
  USAGE

                                             
     freeze main.go [-o code.svg] [--flags]  
     freeze --execute "ls -la" [--flags]     
                                             

     -i --interactive       Use an interactive form for configuration options.
          
  SETTINGS
     -v --version           Display Freeze's version.
     -c --config            Base configuration file or template.
     -l --language          Language of code file.
     -t --theme             Theme to use for syntax highlighting.
     -w --wrap              Wrap lines at a specific width.
     -o --output            Output location for .svg[38;5;243m, .png[38;5;243m, or .webp[38;5;243m.
     -x --execute           Capture output of command execution.
               
  CUSTOMIZATION
     -b --background        Apply a background fill.
     -m --margin            Apply margin to the window.
     -p --padding           Apply padding to the code.
        --window            Display window controls.
     -W --width             Width of terminal window.
     -H --height            Height of terminal window.

     -r --border.radius     Corner radius of window.
        --border.width      Border width thickness.
        --border.color      Border color.

        --shadow.blur       Shadow Gaussian Blur.
        --shadow.x          Shadow offset x[38;5;243m coordinate.
        --shadow.y          Shadow offset y[38;5;243m coordinate.

        --font.family       Font family to use for code.
        --font.file         Font file to embed.
        --font.size         Font size to use for code.
        --font.ligatures    Use ligatures in the font.

        --line-height       Line height relative to font size.
        --lines             Lines to capture (start,end).
        --show-line-numbers 

